<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seraphic.lightapp">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/round_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/round_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        android:usesCleartextTraffic="true">

        <service
            android:name=".jobscheduling.TestJobService"
            android:label="word servic"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".AlarmReceiver" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.homefolder.example.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- ressource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>

        </provider>
        <receiver android:name=".AlarmBroadcastReceiver"/>
        <service android:name=".AlarmService"/>
        <service
            android:name=".NotifyService"
            android:enabled="true"
            android:exported="true"></service>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".menuprofile.InappFragment"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".pushnotification.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false"
            tools:ignore="ExportedService">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SplashActivity"

            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home_module.views.HomeBaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".home_module.views.FullScreenVid"
            android:screenOrientation="portrait"

            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".login_module.views.LoginBaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"

            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="Terms and Conditions" />
                <data android:scheme="Privacy Policy" />
            </intent-filter>
        </activity>
        <activity
            android:name=".onbaording.OnboardingScreen"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".menuprofile.views.EditProfileFragment"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".menuprofile.views.UserStatisticsFragment"
            android:screenOrientation="portrait"

            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".menuprofile.views.MenuFragment"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".menuprofile.views.StatsFragment"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".menuprofile.views.WebViewFragment"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".menuprofile.views.ReminderFragment"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".menuprofile.views.AboutFragment"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".home_module.views.MediaPlayFragment"
            android:screenOrientation="portrait"

            android:theme="@style/FullScreenTheme" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>